<!-- start custom footer snippets -->
<script type="text/javascript">
var sc_project=11551406; 
var sc_invisible=1; 
var sc_security="859404ee"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free hit
counter" href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11551406/0/859404ee/1/" alt="free
hit counter"></a></div></noscript>
<!-- end custom footer snippets -->