{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div align="center" class="author__avatar">
      {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}" itemprop="image">
      {% else %}
        <img src="{{ author.avatar | absolute_url }}" class="author__avatar" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div align="center" class="author__content" style="margin-top:2em">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% if author.bio %}
      <p class="author__bio" itemprop="description">
        {{ author.bio }}
      </p>
    {% endif %}
    {% if author.google_scholar %}
      <a href="https://scholar.google.com/citations?hl=en&user={{ author.google_scholar }}" target="_blank"><i class="ai ai-google-scholar-square"></i></a>&nbsp;
    {% endif %}
    {% if author.github %}
      <a href="https://github.com/{{ author.github }}" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
    {% endif %}
    {% if author.twitter %}    
      <a href="https://twitter.com/{{ author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;
    {% endif %}
    {% if author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ author.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;
    {% endif %}
  </div>
</div>
